<div class="card" style="width: 28rem;">
    <%= image_tag("lost_dog.jpg")%>
    <div class="card-body">
        <p class="card-text">Pets and small children can get lost, people who find a lost pet/child face difficulty to reach the owner of them.
            However, if someone found a lost dog with a QRcode hanged on it, quickly will scan it and contact its owner.
        </p>
    </div>
</div>

