<div class="logo">
    <h1 style="text-alignment: centre;">Who ?</h1>
    <%=image_tag("id-card.png") %>

    <h5>Enter a new Identity</h5>

    <%= render 'form', identity: @identity %>

    <% link_to 'Back', identities_path %>
</div>